* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #ffd2d3, #d84311);
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.action-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.action-wrapper input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.action-wrapper button {
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-wrapper button:hover {
  background-color: #ff4757;
}

.list-wrapper {
  width: 100%;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #f8f9fa;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.list-item {
  flex: 1;
  font-size: 1rem;
  color: #333;
}

.item-actions {
  display: flex;
  gap: 10px;
}

.item-actions button {
  padding: 5px 10px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.item-actions button:hover {
  background-color: #1c86ee;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.list-item input[type="text"] {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 14px;
  width: 200px;
  box-sizing: border-box;
}

.item-actions button {
  margin-right: 5px;
  padding: 7px 11px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.item-actions button:hover {
  background-color: #0056b3;
}

.completed {
  text-decoration: line-through;
  color: rgb(95, 92, 92);
}

.disabled {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed !important;
  opacity: 0.6 !important;
}
